$brown: #262e3b;
$yellow: #f0c016;
$red: #f01616;
$green: #FFFFF;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	color: black;
	margin-top: 50px;
	background-image: url("../images/banner.png");
	background-size: cover;
	@include margenes(50px, 0px);
}


footer {
	padding: 10px 10px 0 10px;
	background-color: $brown;
	@include margenes(10px, 0px);
}

.card-item {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-comprar {
	width: 100%;
	border-radius: 0px;
}

.h3 {
	text-align: center;
}

.img {
	width: 100%; 
	height: 100%;
}

.footer-address-icon {
	padding-right: 10px;
	background-color: $brown;
	margin-bottom: 0px;
	margin-top: 10px;
}

.tab-content {
	padding-top: 10px;
}