@brown: #262e3b;
@yellow: #f0c016;
@red: #f01616;
@green: #45f016;

.margenes(@top: 0px, @bottom: 0px) {
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	color: black;
	background-image: url("../images/banner.png");
	background-size: cover;
	background-color: @brown;
	.margenes(50px, 0px);
}


footer {
	padding: 10px 10px 0 10px;
	background-color: @brown;
	.margenes(10px, 0px);
}

.card-item {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-comprar {
	width: 100%;
	border-radius: 0px;
}

.h3 {
	text-align: center;
}

.img {
	width: 100%; 
	height: 100%;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	.margenes(10px, 0px);
}