.jumbotron {
  color: black;
  margin-top: 50px;
  background-image: url("../images/banner.png");
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #262e3b;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-item {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-comprar {
  width: 100%;
  border-radius: 0px; }

.h3 {
  text-align: center; }

.img {
  width: 100%;
  height: 100%; }

.footer-address-icon {
  padding-right: 10px;
  background-color: #262e3b;
  margin-bottom: 0px;
  margin-top: 10px; }

.tab-content {
  padding-top: 10px; }
